# Ignore RubyMine editor files
.idea/
config/config.rb
config/config_stage.rb
config/config_localhost.rb
projectFilesBackup/
.ruby-version
repo*
*.turtle
*.swp
.DS_Store
tmp

# Ignore eclipse .project
.project
.pmd
.settings/

logs/
*.log
*.pid
