# Ignore RubyMine editor files
.idea/
config/config.rb
config/config_*.rb
projectFilesBackup/
.ruby-version
repo*
*.turtle
*.swp
.DS_Store
tmp

# Ignore eclipse .project
.project
.pmd
.settings/

logs/
*.log
*.pid
