LinkedData.config do |config|
  config.enable_monitoring = false
  config.cube_host = "localhost"
  config.goo_host = "localhost"
  config.goo_port = 8080
  config.search_server_url = "http://localhost:8983/solr/core1"
  config.repository_folder = "./test/data/ontology_files/repo"
  config.http_redis_host = "localhost"
  config.http_redis_port = 6379
  config.goo_redis_host = "localhost"
  config.goo_redis_port = 6379

  # Used to define other bioportal that can be mapped to
  # Example to map to ncbo bioportal : {"ncbo" => {"api" => "http://data.bioontology.org", "ui" => "http://bioportal.bioontology.org"}
  # Then create the mapping using the following class in JSON : "http://purl.bioontology.org/ontology/MESH/C585345": "ncbo:MESH"
  # Where "ncbo" is the namespace used as key in the interportal_hash
  config.interportal_hash   = {}

  # Email notifications.
  config.enable_notifications    = true
  config.email_sender            = "sender@domain.com" # Default sender for emails
  config.email_override          = "test@domain.com" # By default, all email gets sent here.  Disable with email_override_disable.
  config.smtp_host               = "smtp-unencrypted.stanford.edu"
  config.smtp_user               = nil
  config.smtp_password           = nil
  config.smtp_auth_type          = :none
  config.smtp_domain             = "localhost.localhost"  
end

Annotator.config do |config|
  config.mgrep_dictionary_file   ||= "./test/tmp/dict"
  config.stop_words_default_file ||= "./config/default_stop_words.txt"
  config.mgrep_host              ||= "localhost"
  config.mgrep_port              ||= 55555
  config.annotator_redis_host  ||= "localhost"
  config.annotator_redis_port  ||= 6379
end

NcboCron.config do |config|
  config.redis_host  ||= "localhost"
  config.redis_port  ||= 6379
  config.search_index_all_url = "http://localhost:8983/solr/core2"

  # Ontologies Report config
  config.ontology_report_path = "./test/reports/ontologies_report.json"

  # Google Analytics config
  config.analytics_service_account_email_address = "123456789999-sikipho0wk8q0atflrmw62dj4kpwoj3c@developer.gserviceaccount.com"
  config.analytics_path_to_key_file              = "config/bioportal-analytics.p12"
  config.analytics_profile_id                    = "ga:1234567"
  config.analytics_app_name                      = "BioPortal"
  config.analytics_app_version                   = "1.0.0"
  config.analytics_start_date                    = "2013-10-01"
  config.analytics_filter_str                    = "ga:networkLocation!@stanford;ga:networkLocation!@amazon"
end

Goo.use_cache = true
